Euler.xcodeproj/project.xcworkspace/xcuserdata/arturm.xcuserdatad/UserInterfaceState.xcuserstate
Euler.xcodeproj/xcuserdata/arturm.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Euler.xcodeproj/xcuserdata/arturm.xcuserdatad/xcschemes/Euler.xcscheme
.DS_Store
Euler.xcodeproj/xcuserdata/arturm.xcuserdatad/xcschemes/xcschememanagement.plist
