
Euler.xcodeproj/xcuserdata/arturm.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Euler.xcodeproj/xcuserdata/arturm.xcuserdatad/xcschemes/Euler.xcscheme

Euler.xcodeproj/xcuserdata/arturm.xcuserdatad/xcschemes/xcschememanagement.plist
